name: GitHub Trophy
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Trophy
        uses: ryo-ma/github-profile-trophy@master
        with:
          username: Kietnehi
          output_path: trophy.svg
          
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add trophy.svg
          git commit -m "Update trophy" || exit 0
          git push